RELEASE_VERSION={{ release.version }}
EMQX_IMAGE={{ images.emqx }}
DEVICE_EDGE_IMAGE={{ images.device-edge }}
RULE_ENGINE_IMAGE={{ images.rule-engine }}
DEVICE_EDGE_WEB_IMAGE={{ images.device-edge-web }}
PLATFORM_HOST={{ platform.host }}
PLATFORM_API_PORT={{ platform.apiPort }}
PLATFORM_MQTT_HOST={{ mqtt.platformHost }}
PLATFORM_MQTT_PORT={{ mqtt.platformPort }}
PLATFORM_MQTT_USER={{ mqtt.platformUser }}
PLATFORM_MQTT_PASSWORD={{ mqtt.platformPassword }}
LOCAL_MQTT_USER={{ mqtt.localUser }}
LOCAL_MQTT_PASSWORD={{ mqtt.localPassword }}
AIO_AUTH_KEY={{ authKey }}
HOST_CONFIG_FILE=/host/config/host-info.json
DEVICE_EDGE_PORT=6002
DEVICE_EDGE_DATA_PATH=/data/device-edge
DEVICE_EDGE_LOG_PATH=/data/device-edge/logs
RULE_ENGINE_PORT=6001
RULE_ENGINE_DATA_PATH=/data/rule-engine/db
RULE_ENGINE_LOG_PATH=/data/rule-engine/logs
MQTT_LOCAL_BROKER=tcp://emqx:1883
MQTT_PLATFORM_BROKER=tcp://{{ mqtt.platformHost }}:{{ mqtt.platformPort }}
MQTT_SERVER_URIS=tcp://emqx:1883
MQTT_CLIENT_PREFIX=rule-engine-mqtt-client
MQTT_SERVER_USER={{ mqtt.localUser }}
MQTT_SERVER_PASSWORD={{ mqtt.localPassword }}
WEB_PORT=7000
